In [6]:
import math
import csv


def true_vertical_depth(measured_depth, angle_of_inclination):
    tvd = measured_depth * math.cos(math.radians(angle_of_inclination))
    return tvd

In [7]:
df = pd.read_csv("freeman-004stdev.csv")
df.head()

     wellbore_name  measured_depth  inclination  azimuth
0   Freeman-004ST1               0         0.00      0.0
1   Freeman-004ST1            3624         0.78     51.5
2   Freeman-004ST1            3718         0.57     49.3
3   Freeman-004ST1            3812         0.56     44.4
4   Freeman-004ST1            3904         0.60     43.1
..             ...             ...          ...      ...
81  Freeman-004ST1           10952        42.39    344.8
82  Freeman-004ST1           11051        42.45    344.8
83  Freeman-004ST1           11146        42.51    344.9
84  Freeman-004ST1           11241        42.69    345.1
85  Freeman-004ST1           11344        42.77    345.2

[86 rows x 4 columns]

In [8]:
# Add a new column for the true vertical depth
df['tvd'] = df.apply(lambda row: true_vertical_depth(row['measured_depth'], row['inclination']), axis=1)

# Print the updated DataFrame
df.head()

     wellbore_name  measured_depth  inclination  azimuth          tvd
0   Freeman-004ST1               0         0.00      0.0     0.000000
1   Freeman-004ST1            3624         0.78     51.5  3623.664189
2   Freeman-004ST1            3718         0.57     49.3  3717.816016
3   Freeman-004ST1            3812         0.56     44.4  3811.817925
4   Freeman-004ST1            3904         0.60     43.1  3903.785941
..             ...             ...          ...      ...          ...
81  Freeman-004ST1           10952        42.39    344.8  8088.851686
82  Freeman-004ST1           11051        42.45    344.8  8154.164014
83  Freeman-004ST1           11146        42.51    344.9  8216.378816
84  Freeman-004ST1           11241        42.69    345.1  8262.505336
85  Freeman-004ST1           11344        42.77    345.2  8327.466122

[86 rows x 5 columns]