In [2]:
import math
import csv

def convert_md_to_tvd(md, inclination):
    tvd = md * math.cos(math.radians(inclination))
    return tvd

In [9]:
import pandas as pd
df = pd.read_excel(r"C:\Users\BUYPC COMPUTERS\Desktop\Project data\Deviation Data\Deviation_in m\Freeman-001.xls", index_col=0)
df

                                   Unnamed: 1     Unnamed: 2
Freeman-001 Deviation data
Depth (meters)              Inclination (deg)  Azimuth (deg)
0.0                                       0.0            0.0
1038.4557                                 0.0          0.005
1123.7998                                1.89          249.9
1140.8687                                1.98          247.6
...                                       ...            ...
4049.2761                                27.0           46.5
4074.8794                                27.0           47.5
4094.6914                                26.7           48.6
4122.733                                 25.9           49.3
4154.432                                 25.3           49.3

[111 rows x 2 columns]