In [1]:
import pandas as pd
from class4 import true_vertical_depth

In [2]:
df = pd.read_csv("data/freeman-004stdev.csv")
df.head()

    wellbore_name  measured_depth  inclination  azimuth
0  Freeman-004ST1               0         0.00      0.0
1  Freeman-004ST1            3624         0.78     51.5
2  Freeman-004ST1            3718         0.57     49.3
3  Freeman-004ST1            3812         0.56     44.4
4  Freeman-004ST1            3904         0.60     43.1

In [3]:
# Add a new column for the true vertical depth
df['tvd'] = df.apply(lambda row: true_vertical_depth(row['measured_depth'], row['inclination']), axis=1)

# Print the updated DataFrame
df.head()

    wellbore_name  measured_depth  inclination  azimuth      tvd
0  Freeman-004ST1               0         0.00      0.0     0.00
1  Freeman-004ST1            3624         0.78     51.5  3623.66
2  Freeman-004ST1            3718         0.57     49.3  3717.82
3  Freeman-004ST1            3812         0.56     44.4  3811.82
4  Freeman-004ST1            3904         0.60     43.1  3903.79