In [9]:
import pickle
import pandas as pd
import matplotlib.pyplot as plt
from class2 import facies_classification, Petrophysics, rename_columns, rearrange_columns

In [6]:
with open('model_pickle', 'rb') as file:
    mp = pickle.load(file)

In [7]:
well = pd.read_csv('data/freeman_well_1_perm.csv')
well.head()

     DEPT  DEN  DT       GR  NEUT  RES_DEP  PHI  PERM
0  3712.5  NaN NaN  85.5533   NaN      NaN  NaN   NaN
1  3713.0  NaN NaN  87.7167   NaN      NaN  NaN   NaN
2  3713.5  NaN NaN  89.3406   NaN      NaN  NaN   NaN
3  3714.0  NaN NaN  90.4250   NaN   1.2900  NaN   NaN
4  3714.5  NaN NaN  90.6067   NaN   1.3233  NaN   NaN

In [10]:
old_names = ['DEPT', 'DEN', 'NEUT', 'RES_DEP']#list(well.columns)
new_names = ['Depth', 'RHOB', 'NPHI', 'Log_ILD']
df = rename_columns(well, old_names, new_names)

In [11]:
order = ['Depth', 'GR', 'Log_ILD', 'DT', 'RHOB', 'NPHI', 'PHI', 'PERM']
data = rearrange_columns(df, order)

In [12]:
data['Facies'] = facies_classification(data['GR'])

In [13]:
data.head()

    Depth       GR  Log_ILD  DT  RHOB  NPHI  PHI  PERM  Facies
0  3712.5  85.5533      NaN NaN   NaN   NaN  NaN   NaN       3
1  3713.0  87.7167      NaN NaN   NaN   NaN  NaN   NaN       3
2  3713.5  89.3406      NaN NaN   NaN   NaN  NaN   NaN       3
3  3714.0  90.4250   1.2900 NaN   NaN   NaN  NaN   NaN       3
4  3714.5  90.6067   1.3233 NaN   NaN   NaN  NaN   NaN       3

In [14]:
test = Petrophysics(data)
x = test.slowness_to_velocity(2)

In [15]:
data.head()

    Depth       GR  Log_ILD  DT  RHOB  NPHI  PHI  PERM  Facies       velocity
0  3712.5  85.5533      NaN NaN   NaN   NaN  NaN   NaN       3            NaN
1  3713.0  87.7167      NaN NaN   NaN   NaN  NaN   NaN       3            NaN
2  3713.5  89.3406      NaN NaN   NaN   NaN  NaN   NaN       3            NaN
3  3714.0  90.4250   1.2900 NaN   NaN   NaN  NaN   NaN       3  775193.798450
4  3714.5  90.6067   1.3233 NaN   NaN   NaN  NaN   NaN       3  755686.541223

In [17]:
data.isnull().sum()

Depth          0
GR             0
Log_ILD      218
DT          3386
RHOB        3375
NPHI        3480
PHI         3375
PERM        3375
Facies         0
velocity     218
dtype: int64

In [18]:
df = data.dropna()
df.isnull().sum()

Depth       0
GR          0
Log_ILD     0
DT          0
RHOB        0
NPHI        0
PHI         0
PERM        0
Facies      0
velocity    0
dtype: int64

In [19]:
X_test = df[['Log_ILD', 'RHOB', 'velocity', 'GR', 'Facies', 'Depth']]
y_test = df['PERM']

In [21]:
y_pred = mp.predict(X_test)

In [22]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

In [23]:
mae

164383.16916501458

In [24]:
mse

1178340278453.2576

In [25]:
r2

-636938.776319658