In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/freeman_well_4_perm.csv')
df.head()

     DEPT     DEN       DT  GR  NEUT  RES_DEP     PHI       PERM
0  7564.5  2.2382  137.507 NaN   NaN      NaN  0.2657  175.29364
1  7565.0  2.2382  137.507 NaN   NaN      NaN  0.2657  175.29364
2  7565.5  2.2382  137.507 NaN   NaN      NaN  0.2657  175.29364
3  7566.0  2.2382  137.507 NaN   NaN      NaN  0.2657  175.29364
4  7566.5  2.2382  137.507 NaN   NaN      NaN  0.2657  175.29364