In [1]:
import pandas as pd
import lasio

In [3]:
las1 = lasio.read('data/Freeman-004-ST1.las')
well1 = las1.df()
well2 = well1.reset_index()

las_1 = lasio.read('data/Freeman_003ST1.las')
well_1 = las_1.df()
well_2 = well_1.reset_index()

In [4]:
# combine the two dataframes into a new dataframe
df_new = pd.concat([well2, well_2], axis=0)

# write the new dataframe to a csv file
df_new.to_csv("combined_file.csv", index=False)

In [5]:
df_new.head()

     DEPT     DEN       DT  GR  NEUT  RES_DEP  NEU
0  7564.5  2.2382  137.507 NaN   NaN      NaN  NaN
1  7565.0  2.2382  137.507 NaN   NaN      NaN  NaN
2  7565.5  2.2382  137.507 NaN   NaN      NaN  NaN
3  7566.0  2.2382  137.507 NaN   NaN      NaN  NaN
4  7566.5  2.2382  137.507 NaN   NaN      NaN  NaN

In [7]:
print(df_new.shape)

(15800, 7)

In [8]:
# Assuming your well data is in a pandas DataFrame called 'well_data'
# Filter the well data to only include sandstone with gamma ray values less than 75
df = df_new[(df_new['GR'] < 75)]

In [9]:
print(df.shape)

(1918, 7)

In [10]:
# write the new dataframe to a csv file
df.to_csv("combined_file_sand.csv", index=False)