In [1]:
# !pip install ipywidgets --upgrade
# !pip install chart-studio --upgrade
# !pip install pyarrow --upgrade
# !pip install cufflinks --upgrade

In [2]:
!jupyter nbextension enable --py widgetsnbextension

Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: ok

In [3]:
import numpy as np
import pandas as pd
import scipy

# Instansiate the Plotly charting library.
import chart_studio.plotly as py
import plotly.graph_objs as go
import plotly.express as px
# We use plotly.offline as this allows us to create interactive 
# visualisations without the use of an internet connection, 
# making our notebook more distributable to others. 
from plotly.offline import iplot, init_notebook_mode
init_notebook_mode(connected=True)

# The Cufflinks library allows us to directly bind 
# Pandas dataframes to Plotly charts. 
import cufflinks as cf
# Once again we use the Cufflinks library in offline mode. 
cf.go_offline(connected=True)
cf.set_config_file(colorscale='plotly', world_readable=True)

# Extra options. We use these to make our interactive 
# visualisations more aesthetically appealing. 
from IPython.core.display import HTML
pd.options.display.max_rows = 30
pd.options.display.max_columns = 25

# Show all code cells outputs
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

PROJ: proj_create_from_database: SQLite error on SELECT name, type, coordinate_system_auth_name, coordinate_system_code, datum_auth_name, datum_code, area_of_use_auth_name, area_of_use_code, text_definition, deprecated FROM geodetic_crs WHERE auth_name = ? AND code = ?: no such column: area_of_use_auth_name

In [4]:
from ipywidgets import interact, interact_manual, widgets

In [5]:
df = pd.read_csv('data/well_4_ML.csv')

In [6]:
df.describe()

,DEPT,DEN,DT,GR,NEUT,RES_DEP,PHI,PERM,velocity
count,7586.000000,7586.000000,7586.000000,7352.000000,7352.000000,7350.000000,7586.000000,7.586000e+03,7586.000000
mean,9460.750000,2.326999,118.441103,108.189529,0.423099,18.933387,0.208390,9.338403e+03,8527.682849
std,1095.016952,0.081725,11.924260,23.541196,0.066108,176.943528,0.052728,2.328137e+05,844.760010
min,7564.500000,1.863100,84.811200,32.593900,0.099500,0.081200,0.055100,1.076985e-02,6307.620110
25%,8512.625000,2.272600,108.603500,101.771775,0.385175,0.878350,0.167300,1.887876e+00,7762.524203
50%,9460.750000,2.342500,115.442700,112.463100,0.422200,1.025600,0.198400,7.905111e+00,8662.306062
75%,10408.875000,2.390700,128.824075,120.219250,0.461400,1.368400,0.243500,6.306856e+01,9207.806378
max,11357.000000,2.564600,158.538400,219.338000,0.656900,1950.000000,0.507700,1.211313e+07,11790.895542

In [7]:
df.isnull().sum()

DEPT          0
DEN           0
DT            0
GR          234
NEUT        234
RES_DEP     236
PHI           0
PERM          0
Facies        0
velocity      0
dtype: int64

In [8]:
df1 = df.dropna()
df1.isnull().sum()

DEPT        0
DEN         0
DT          0
GR          0
NEUT        0
RES_DEP     0
PHI         0
PERM        0
Facies      0
velocity    0
dtype: int64

In [9]:
df1.head()

,DEPT,DEN,DT,GR,NEUT,RES_DEP,PHI,PERM,Facies,velocity
236,7682.5,2.2382,137.507,39.0321,0.5983,0.9332,0.2657,175.29364,sand,7272.357044
237,7683.0,2.2382,137.507,39.0321,0.5983,0.9332,0.2657,175.29364,sand,7272.357044
238,7683.5,2.2382,137.507,39.0321,0.5983,0.9332,0.2657,175.29364,sand,7272.357044
239,7684.0,2.2382,137.507,39.0321,0.5983,0.9332,0.2657,175.29364,sand,7272.357044
240,7684.5,2.2382,137.507,39.0321,0.5983,0.9332,0.2657,175.29364,sand,7272.357044

In [10]:
df1.describe()

,DEPT,DEN,DT,GR,NEUT,RES_DEP,PHI,PERM,velocity
count,7350.000000,7350.000000,7350.000000,7350.000000,7350.000000,7350.000000,7350.000000,7.350000e+03,7350.000000
mean,9519.750000,2.329850,117.828919,108.208348,0.423052,18.933387,0.206550,9.632620e+03,8567.989909
std,1060.953286,0.081438,11.606285,23.516734,0.066053,176.943528,0.052542,2.365165e+05,827.227799
min,7682.500000,1.863100,84.811200,32.593900,0.099500,0.081200,0.055100,1.076985e-02,6307.620110
25%,8601.125000,2.281925,108.412300,101.781475,0.385125,0.878350,0.166600,1.827995e+00,7816.641905
50%,9519.750000,2.346950,114.941400,112.467900,0.422150,1.025600,0.195500,6.916941e+00,8700.085435
75%,10438.375000,2.391700,127.932175,120.220350,0.461375,1.368400,0.237475,4.778884e+01,9224.045613
max,11357.000000,2.564600,158.538400,219.338000,0.656900,1950.000000,0.507700,1.211313e+07,11790.895542

In [11]:
from sklearn import preprocessing
from sklearn import utils
lab_enc = preprocessing.LabelEncoder()

In [12]:
df1['Facies'].count()

7350

In [13]:
df1['Facies']= lab_enc.fit_transform(df1['Facies'])

In [14]:
df1['Facies'].unique()

array([1, 3, 2, 0])

In [15]:
@interact
def correlations(column1=list(df1.select_dtypes('number').columns), 
                 column2=list(df1.select_dtypes('number').columns)):
    print(f"Correlation: {df1[column1].corr(df1[column2])}")

interactive(children=(Dropdown(description='column1', options=('DEPT', 'DEN', 'DT', 'GR', 'NEUT', 'RES_DEP', '…

In [16]:
@interact
def scatter_plot(x=list(df1.select_dtypes('number').columns), 
                 y=list(df1.select_dtypes('number').columns)[1:]):
    if x == y:
        print(f"Please select seperate variables for X and Y")
    else:
        df1.iplot(kind='scatter', x=x, y=y, mode='markers', 
                 xTitle=x.title(), yTitle=y.title(), title=f'{y.title()} vs {x.title()}')
        ## if you are using Google Colab, comment out the above line of code and uncomment the lines below
        #fig = px.scatter(df, x=x, y=y, title=f'{y.title()} vs {x.title()}')
        #fig.show(renderer="colab")

interactive(children=(Dropdown(description='x', options=('DEPT', 'DEN', 'DT', 'GR', 'NEUT', 'RES_DEP', 'PHI', …

In [18]:
cscales = ['Greys', 'YlGnBu', 'Greens', 'YlOrRd', 'Bluered', 'RdBu',
            'Reds', 'Blues', 'Picnic', 'Rainbow', 'Portland', 'Jet',
            'Hot', 'Blackbody', 'Earth', 'Electric', 'Viridis', 'Cividis']

# We use the Figure Factory module of Plotly, which
# defines many unique and powerful plots to be used
# in Python. 
# For more info, see: https://plot.ly/python/figure-factory-subplots/
import plotly.figure_factory as ff

corrs = df1.corr()

@interact
def plot_corrs(colorscale=cscales):
    figure = ff.create_annotated_heatmap(z = corrs.round(2).values, 
                                     x =list(corrs.columns), 
                                     y=list(corrs.index), 
                                     colorscale=colorscale,
                                     annotation_text=corrs.round(2).values)
    iplot(figure)
    ## if you are using Google Colab, comment out the above line of code and uncomment the line below
    #figure.show(renderer="colab")

interactive(children=(Dropdown(description='colorscale', options=('Greys', 'YlGnBu', 'Greens', 'YlOrRd', 'Blue…

In [19]:
@interact_manual
def scatter_plot(x=list(df1.select_dtypes('number').columns), 
                 y=list(df1.select_dtypes('number').columns)[1:],
                 theme=list(cf.themes.THEMES.keys()), 
                 colorscale=list(cf.colors._scales_names.keys())):
    
    if x == y:
        print(f"Please select seperate variables for X and Y")
    else:
        df1.iplot(kind='scatter', x=x, y=y, mode='markers', 
                 xTitle=x.title(), yTitle=y.title(), 
                 text='DEPT',
                 title=f'{y.title()} vs {x.title()}',
                theme=theme, colorscale=colorscale)
        ## if you are using Google Colab, comment out the above line of code and uncomment the line below
        #fig = px.scatter(df, x=x, y=y, title=f'{y.title()} vs {x.title()}')
        #fig.show(renderer="colab")

interactive(children=(Dropdown(description='x', options=('DEPT', 'DEN', 'DT', 'GR', 'NEUT', 'RES_DEP', 'PHI', …

In [ ]:
final = df1.drop(['NEUT', 'DT'], axis = 'columns')
final

In [ ]:
final.describe()

In [ ]:
final.isnull().sum()

In [ ]:
final.dtypes

In [ ]:
X = final.drop('PERM',axis='columns')
y = final.PERM

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [ ]:
from sklearn import linear_model
reg = linear_model.LinearRegression()
reg.fit(X, y)

In [ ]:
reg.coef_

In [ ]:
# 1=sandstone  2=c_siltstone   3=f_siltstone 
# 4=marine_silt_shale 5=mudstone 6=wackestone 7=dolomite
# 8=packstone 9=bafflestone
facies_colors = ['#F4D03F', '#F5B041','#DC7633','#6E2C00',
       '#1B4F72','#2E86C1', '#AED6F1', '#A569BD', '#196F3D']

facies_labels = ['SS', 'CSiS', 'FSiS', 'SiSh', 'MS',
                 'WS', 'D','PS', 'BS']
#facies_color_map is a dictionary that maps facies labels
#to their respective colors
facies_color_map = {}
for ind, label in enumerate(facies_labels):
    facies_color_map[label] = facies_colors[ind]

def label_facies(row, labels):
    return labels[ row['Facies'] -1]
    
training_data.loc[:,'FaciesLabels'] = training_data.apply(lambda row: label_facies(row, facies_labels), axis=1)

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

# Load well log data

# Define input features and target variable
X = final[['RES_DEP', 'DEN', 'velocity', 'GR', 'Facies', 'DEPT']]
y = final['PERM']

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train a random forest regressor model
rf = RandomForestRegressor(n_estimators=100, max_depth=10, random_state=42)
rf.fit(X_train, y_train)

# Make predictions on test data
y_pred = rf.predict(X_test)

# Calculate model performance metrics
mae = np.mean(abs(y_test - y_pred))
mse = np.mean((y_test - y_pred) ** 2)
rmse = np.sqrt(mse)
r2 = rf.score(X_test, y_test)

# Make a prediction for new well log data
new_data = pd.DataFrame({'RES_DEP': [2.5], 'DEN': [2.3], 'velocity': [3.5], 'GR': [40], 'Facies': [1], 'DEPT': [2000]})
new_pp = rf.predict(new_data)

print(new_pp)